
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Data/Navigate.cshtml";
}
<h2>AboutUs</h2>
<p>To enhance the quality of life of marginalized, less privileged and out-of-school girls in our society, by providing quality education and main streaming them.</p>
<header>@Html.ActionLink("List Of Donors","DisplayAll")</header>
<div>
    <h1 size="500px">Our Story</h1>
    <p>I strongly believe education should be available to every Indian child and it's unfortunate that so many young Indians particularly girls miss on basic education. We should do whatever possible to ensure girls are educated. It is not only education for one individual but for two generations and the country's prosperity and dignity depends on it.</p>
    <div align="center">
        <img src="http://www.iiflfoundation.com/sites/default/files/2021-06/Image_our-story_02.jpg" alt="ToFurther" height="300px" width="250px" />
    </div>
</div>


