@{ 
    ViewBag.Title = "Contact";
    Layout = "~/Views/Data/Navigate.cshtml";
}
<h2>Contact</h2>
<div>
    <p>Please use this form to contact us regarding any questions, comments or concerns you may have.</p>
    <div>
        <h1>Post Donation Concerns</h1>
        <p>If you recently donated and have developed a fever or other symptoms that suggest a recent infection or you want to provide additional information about your donation please call  for immediate 9505833487 assistance (Option 2 in the phone system). For your convenience, this number is available 24 hours a day, 365 days a year.</p>
    </div>
    <div>
        <img src="https://media.istockphoto.com/id/1397666591/vector/world-blood-donor-day-donate-blood-save-life-text-and-white-red-blood-bag-symbol-on-dark.jpg?s=1024x1024&w=is&k=20&c=AXemPvbcSPonSZKlIg3WGuNGbuzVBG_RvC_ErqF-cW0=" alt="Click" height="300px" width="250px"/>
    </div>
</div>