
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Data/Navigate.cshtml";
}

<h2>Home</h2>
<div>
    <img src="https://media.istockphoto.com/id/1403182301/photo/preparation-for-blood-test-by-female-doctor-medical-uniform-on-the-table-in-white-bright-room.jpg?s=1024x1024&w=is&k=20&c=e1_rJcRufTeF9ZnZ2aVs9_PLGvL8QM5_uXlbMdZ7nEE=" alt="Heart" height="250px" width="300px" />
</div>
<div>
    <div align="center">
        Blood Camp
        IIFL employees considered blood donation as their responsibility of bringing life back to power.
    </div>
    <div align="center">
       <h1>Blood Donation Is Important</h1>
    </div>
<p>
    Every two seconds, someone in the U.S. requires a blood transfusion, according to the New York Blood Center. The benefits of donating blood include helping people injured in accidents, undergoing cancer treatment, and battling blood diseases, among other reasons.

    Unfortunately, in January 2024, the American Red Cross announced that it was facing an emergency blood shortage as it experiences the lowest number of people giving blood in the last 20 years. The New York Blood Center shared that low donor turnout had led to a 25% drop in donations in recent weeks, creating a critical shortage. With current shortages leading to delays in transfusions, blood donors are needed now more than ever.

    “Every time you donate blood, you can save up to three lives,” says Dr. Elizabeth Stone, assistant attending physician in transfusion medicine and cellular therapy at NewYork-Presbyterian/Columbia University Irving Medical Center. “There’s no substitute for blood, and there are a lot of different patient populations who need blood — sometimes emergently. If we don’t have a constant supply from healthy, altruistic donors, unfortunately, our patients may not get the lifesaving blood transfusions that they need.”
</p>
</div>
