
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>
<div>
    <h1>Welcome To Blood Donation</h1>
    <img src="https://media.istockphoto.com/id/627356286/photo/general-practitioner-doing-blood-test.jpg?s=1024x1024&w=is&k=20&c=nJK1JIB8hp9LcmBCPrWWHBe9b-Or6vbCtexqPnqkjgA=" alt="Pls Donate Blood" width="200px" height="150px" />
    <p>Those Who Need Our Help,it's Saves Many Peoples</p>
    @Html.ActionLink("Sign In", "Login")&nbsp;&nbsp;
    @Html.ActionLink("Sign Up", "Register")
</div>
